services:
  postgres:
    hostname: TodoTaskPostgres
    image: postgres:16
    container_name: postgres-container
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${TYPEORM_USERNAME}
      POSTGRES_PASSWORD: ${TYPEORM_PASSWORD}
      POSTGRES_DB: ${TYPEORM_DATABASE}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - '${TYPEORM_PORT:-5432}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
      interval: 5s
      timeout: 3s
      retries: 10

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
